h1 {
    color: black;
    text-align: center;
    font-size: 300%;
}
a{
    text-align: right;
    border-style: groove;
    border-width: 2px;
    border-radius: 12px;
    padding: 10px 5px;
    text-decoration: none;
}
body{
    background:lightblue;
    background-image: url("paper.gif");
}

